---
version: '3'

tasks:
  commitizen:
    cmds:
      - task: npm-install
        vars:
          FORCE_INSTALL: true
          NPM_PACKAGE: commitizen
          NPM_PACKAGE_BIN: 'git-cz'
    run: once

  commitlint:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: '@commitlint/cli'
          NPM_PACKAGE_BIN: commitlint
    run: once

  cspell:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: cspell
          NPM_PACKAGE_BIN: cspell
    run: once

  hbs:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: hbs-cli
          NPM_PACKAGE_BIN: hbs
    run: once

  husky:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: husky
          NPM_PACKAGE_BIN: husky
    run: once

  lint-staged:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: lint-staged
          NPM_PACKAGE_BIN: lint-staged
    run: once

  markdown-link-check:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: markdown-link-check
          NPM_PACKAGE_BIN: markdown-link-check
    run: once

  npm-install:
    deps:
      - :software:node
    cmds:
      - |
        if [ "${container:=}" != 'docker' ]; then
          if [ "\{{.FORCE_INSTALL}}" ]; then
            npm install -g \{{.NPM_PACKAGE}}@latest --force
          else
            npm install -g \{{.NPM_PACKAGE}}@latest
          fi
          true success "The npm '\{{.NPM_PACKAGE}}' package is globally installed"
        fi
    status:
      - '(type \{{.NPM_PACKAGE_BIN}} &> /dev/null) || [ "${container:=}" == "docker" ]'

  prettier-package-json:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: prettier-package-json
          NPM_PACKAGE_BIN: prettier-package-json
    run: once

  prettier:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: prettier-plugin-sh
          NPM_PACKAGE_BIN: prettier
      - task: npm-install
        vars:
          NPM_PACKAGE: prettier
          NPM_PACKAGE_BIN: prettier
    run: once

  readme:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: '@appnest/readme'
          NPM_PACKAGE_BIN: readme
    run: once

  remark:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: remark-cli
          NPM_PACKAGE_BIN: remark
    run: once

  sharp:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: sharp-cli
          NPM_PACKAGE_BIN: sharp
    run: once

  shellcheck:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: shellcheck
          NPM_PACKAGE_BIN: shellcheck
    run: once

  snyk:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: snyk
          NPM_PACKAGE_BIN: snyk
    run: once

  standard:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: standard
          NPM_PACKAGE_BIN: standard
    run: once

  standard-version:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: standard-version
          NPM_PACKAGE_BIN: standard-version
    run: once

  tinypng:
    cmds:
      - task: npm-install
        vars:
          NPM_PACKAGE: tinypng-cli
          NPM_PACKAGE_BIN: tinypng
    run: once
