{
  "name": "@{{profile.npmjs_organization}}/{{repository.prefix.github}}{{slug}}",
  "version": "0.0.1",
  "description": "{{description}}",
  "license": "{{license}}",
  "author": "{{author.name}} <{{author.email}}> ({{link.home}})",
  "homepage": "{{link.home}}",
  "repository": {
    "type": "git",
    "url": "git+{{repository.github}}.git"
  },
  "bugs": {
    "email": "{{email.help}}",
    "url": "{{repository.gitlab}}{{repository.location.issues.gitlab}}"
  },
  "type": "module",
  "scripts": {
    "clean": "task common:clean",
    "commit": "task common:commit",
    "info": "task --list",
    "prepare": "bash .common/scripts/npm-prepare.sh",
    "prepare-release": "task common:prepare-release",
    "requirements": "task common:requirements",
    "reset": "task common:reset",
    "reset-force": "task common:reset-force",
    "update": "task common:update"
  },
  "config": {
    "commitizen": {
      "path": "cz-conventional-changelog"
    }
  },
  "dependencies": {},
  "devDependencies": {
    "@commitlint/config-conventional": "^13.1.0",
    "@megabytelabs/prettier-config": "^2.0.0",
    "cz-conventional-changelog": "^3.3.0",
    "inquirer": "^6.5.2",
    "prettier-plugin-sh": "^0.6.1",
    "remark-preset-lint-recommended": "^5.0.0",
    "signale": "^1.4.0"
  },
  "keywords": [
    "megabytelabs",
    "professormanhattan"
  ],
  "engines": {
    "node": ">=10"
  },
  "funding": [
    {
      "type": "opencollective",
      "url": "{{profile_link.opencollective}}/{{profile.opencollective}}"
    },
    {
      "type": "patreon",
      "url": "{{profile_link.patreon}}/{{profile.patreon}}"
    }
  ],
  "lint-staged": {
    "**/*": [
      "blocklint --wordlist blacklist,slave,whitelist",
      "check-merge-conflict",
      "check-added-large-files",
      "check-symlinks",
      "destroyed-symlinks"
    ],
    "**/*.(css|html|json|less|mjml|php|scss|sh|ts)": [
      "prettier --write"
    ],
    "**/*.(jpg|png)": [
      "task image:compress --"
    ],
    "**/*.js": [
      "npx standard --fix",
      "prettier --write"
    ],
    "**/!(package).json": [
      "check-json",
      "task fix:json --",
      "prettier --write"
    ],
    "**/*.md": [
      "remark",
      "prettier --write"
    ],
    "**/*.(sh|sh.j2)": [
      "shellcheck",
      "prettier --write"
    ],
    "**/*.toml": [
      "check-toml"
    ],
    "**/*.xml": [
      "check-xml",
      "prettier --write"
    ],
    "**/*.yml": [
      "check-yaml",
      "yamllint -s",
      "task fix:yml-dashes --",
      "prettier --write"
    ],
    "logo.png": [
      "task image:resize -- 200 200",
      "task image:compress --"
    ],
    "package.json": [
      "check-json",
      "task fix:json --",
      "prettier-package-json --write"
    ],
    "requirements.txt": [
      "requirements-txt-fixer"
    ]
  },
  "prettier": "@megabytelabs/prettier-config",
  "remarkConfig": {
    "plugins": [
      "remark-preset-lint-recommended"
    ]
  },
  "standard-version": {
    "scripts": {
      "prerelease": "git add --all"
    }
  }
}
